<svg:g>
    <rect *ngIf="element.selected" [attr.x]="element.x-5" [attr.y]="element.y-20" [attr.width]="bbox.width" [attr.height]="bbox.height" fill="#67e" />
    <text *ngIf="lines.length===1" class="svg-text" [attr.id]="element.id" [attr.x]="element.x" [attr.y]="element.y" font-size="20">{{element.text}}</text>

    <text *ngIf="lines.length!==1" class="svg-text" [attr.x]="element.x" [attr.y]="element.y" font-size="20">
        <tspan *ngFor="let text of lines; let index=index" [attr.id]="element.id" [attr.x]="element.x" [attr.y]="element.y+index*20">{{text}}</tspan>
    </text>
</svg:g>