<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Angular2 + SVG / <a href="https://github.com/ReneCode/angular2svg">github repository</a>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div>
            <button class="btn btn-primary" (click)="addLine()">Add Line</button>
            <button class="btn btn-primary" (click)="addText()">Add Text</button>
            <button class="btn btn-primary" (click)="zoomIn()">Zoom In</button>
            <button class="btn btn-primary" (click)="zoomOut()">Zoom Out</button>
          </div>
          <svg width="500" height="500" 
                (mousedown)="mouseDown($event)" 
                (mousemove)="mouseMove($event)"
                (mouseup)="mouseUp($event)">
            <g [attr.transform]="transform.text">
              <g app-svg-element *ngFor="let element of elements" [element]="element"></g>
            </g>
          </svg>
        </div>
        
      </div>
    </div>
  </div>