<svg:g>

 <title>/1</title>
 <g id="transformation" transform="matrix(1,0,0,-1,-0,297)">
  <defs>
   <style type="text/css">
svg{background:rgb(255,255,255)}
.P0{stroke: rgb(0,0,0); stroke-width: 0.35; stroke-linecap: square; stroke-dasharray: none; fill: none}
text.F0{fill: rgb(0,0,255); font-size: 6.21px; text-anchor: start; dominant-baseline: alphabetic; font-family: Tahoma,Verdana}

</style>
  </defs>
  <g transform="scale(1)" id="page">
   <desc>Page</desc>
  </g>
  <g>
   <desc>Frame</desc>
   <g>
    <desc>group</desc>
    <g>
     <desc>group</desc>
     <path class="P0" d="M 0 0 H 420 V 297 H 0 Z"/>
    </g>
   </g>
  </g>
  <g transform="scale(1)" id="page">
   <desc>Page</desc>
   <g>
    <desc>group</desc>
    <g>
     <desc>group</desc>
     <text class="F0" x="204" y="161.5" transform="translate(204 161.5) scale(1,-1) translate(-204 -161.5)">TEST</text>
    </g>
   </g>
  </g>
 </g>
 

</svg:g>
